<% content_for :header_tags do %>
  <%= javascript_include_tag 'gantt', plugin: 'redmine_custom_gant' %>
  <%= javascript_include_tag 'handlers', plugin: 'redmine_custom_gant', defer: 'defer' %>
  <%= stylesheet_link_tag 'gantt', plugin: 'redmine_custom_gant' %>
  <%= stylesheet_link_tag 'checkbox', plugin: 'redmine_custom_gant' %>
<% end %>


	<% def printList(parent) %>
	<%	parent[:descendants].each do |project| %>
	<%=		"g.AddTaskDetail(new Task('#{@projects[project.id][:startDate]}', '#{@projects[project.id][:dueDate]}'," + "\'" + project.name.gsub("\'", "`") + "\'" + ", 'Dathq', 50, " + parent[:level].to_s + ", #{@projects[project.id][:visible]}, '#{project.identifier}'));" %>
	<%		if @projects[project.id][:descendants].any? then printList(@projects[project.id]) end %>
	<%	end %>
	<% end %>

<h2> Gantt chart </h2>

<% form_tag({:controller => 'chart', :action => 'index', :months => params[:months], :month => params[:month], :year => params[:year], :check => params[:check]}, :method => :get, :id => 'query_form') do %>
	<p>
	<%= text_field_tag :months, @monthsCounter ,:size => 2 %>
	<%= label_tag('months', "месяца с", id: 'MLabel') %>
	<%= select_tag(:month, options_for_select([['Января', 1], ['Февраля', 2], ['Марта', 3], ['Апреля', 4], ['Мая', 5], ['Июня', 6], ['Июля', 7], ['Августа', 8], ['Сентября', 9], ['Октября', 10], ['Ноября', 11], ['Декабря', 12]], @DateSelect.month)) %>
	<%= select_tag(:year, options_for_select(@years, @DateSelect.year)) %>
	<%= label_tag('archive', "архивные ", id: 'ALabel') %>

		

	<%= submit_tag("Применить", id: "apply") %>
	</p>
<% end %>

<div style="position:relative" class="Gantt" id="GanttChart"></div>

<script>
	var g = new Gantt(document.all.GanttChart, <%= "\'" + @DateFrom.to_s.gsub("-", "/") + "\'" %>, <%= "\'" + @DateTo.to_s.gsub("-", "/") + "\'" %>);
	g.AddTaskDetail(new Task(<%= "'#{@projects[@root.id][:startDate]}'" %>, <%= "'#{@projects[@root.id][:dueDate]}'" %>, <%= "\'" + @root.name.to_s.gsub("\'", "`") + "\'" %>, 'Dathq', 50, 0, <%= "#{@projects[@root.id][:visible]}" %>, <%= "'#{@root.identifier}'" %>));
	<% printList(@projects[@root.id]) %>
	g.Draw();	
</script>